# Node.js dependencies
backend/node_modules/
frontend/node_modules/

# Environment variables
backend/.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-spezifische Dateien
.DS_Store
Thumbs.db

# IDE/Editor-spezifische Dateien
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build-Verzeichnisse (falls vorhanden)
frontend/build/
frontend/dist/
backend/dist/

# Sonstige temporäre Dateien
*.tmp
*.swp
